!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Project 532"
    %meta{content: "", name: "description"}
    %meta{content: "Zoltan Debre", name: "author"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %div.container
      %div.navbar
        %div.navbar-inner
          =link_to "PROJECT 532", root_url, class: "brand"
      %div.container
        -flash.each do |key, value|
          =content_tag(:div, value, class: "alert alert-#{key}")
      = yield
    %footer.container
      =debug(params) if Rails.env.development?
